node_modules
.DS_Store
.wp-env.override.json
test-theme/*
logs/*
actions/ui-check/screenshots
actions/ui-check/tests/e2e/specs/page/siteinfo.json
actions/structure-check/.phpunit.result.cache
config/*
